# DNS и кеширование
nserver 8.8.8.8
nscache 65536
timeouts 1 5 30 60 180 1800 15 60

# Пользователь и аутентификация
users testuser:CL:testpass
auth strong
allow testuser
flush

# HTTP-прокси на 3128 и SOCKS на 1080
proxy  -p3128 -i0.0.0.0
socks  -p1080 -i0.0.0.0

# Логи в stdout
log stdout D
